<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<integer>0</integer>
	<key>IE</key>
	<integer>0</integer>
	<key>IA</key>
	<integer>0</integer>
	<key>L</key>
	<integer>0</integer>
	<key>VE</key>
	<integer>0</integer>
	<key>M</key>
	<integer>0</integer>
	<key>N</key>
	<integer>0</integer>
	<key>VI</key>
	<integer>0</integer>
</dict>
</plist>
